BehavioralDesignPatterns/bin/Debug/BehavioralDesignPatterns.exe
BehavioralDesignPatterns/bin/Debug/BehavioralDesignPatterns.exe.config
BehavioralDesignPatterns/bin/Debug/BehavioralDesignPatterns.pdb
BehavioralDesignPatterns/obj/Debug/BehavioralDesignPatterns.csproj.FileListAbsolute.txt
BehavioralDesignPatterns/obj/Debug/BehavioralDesignPatterns.exe
BehavioralDesignPatterns/obj/Debug/BehavioralDesignPatterns.pdb
BehavioralDesignPatterns/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BehavioralDesignPatterns/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BehavioralDesignPatterns/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CreationalDesignPatterns/bin/Debug/CreationalDesignPatterns.exe
CreationalDesignPatterns/bin/Debug/CreationalDesignPatterns.exe.config
CreationalDesignPatterns/bin/Debug/CreationalDesignPatterns.pdb
CreationalDesignPatterns/bin/Debug/CreationalDesignPatterns.vshost.exe
CreationalDesignPatterns/bin/Debug/CreationalDesignPatterns.vshost.exe.config
CreationalDesignPatterns/bin/Debug/CreationalDesignPatterns.vshost.exe.manifest
CreationalDesignPatterns/obj/Debug/CreationalDesignPatterns.csproj.FileListAbsolute.txt
CreationalDesignPatterns/obj/Debug/CreationalDesignPatterns.exe
CreationalDesignPatterns/obj/Debug/CreationalDesignPatterns.pdb
CreationalDesignPatterns/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CreationalDesignPatterns/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CreationalDesignPatterns/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
HomeWork/bin/Debug/HomeWork.dll
HomeWork/bin/Debug/HomeWork.pdb
HomeWork/obj/Debug/HomeWork.csproj.FileListAbsolute.txt
HomeWork/obj/Debug/HomeWork.dll
HomeWork/obj/Debug/HomeWork.pdb
HomeWork/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HomeWork/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
HomeWork/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
StructuralDesignPatterns/bin/Debug/StructuralDesignPatterns.exe
StructuralDesignPatterns/bin/Debug/StructuralDesignPatterns.exe.config
StructuralDesignPatterns/bin/Debug/StructuralDesignPatterns.pdb
StructuralDesignPatterns/obj/Debug/StructuralDesignPatterns.csproj.FileListAbsolute.txt
StructuralDesignPatterns/obj/Debug/StructuralDesignPatterns.csprojResolveAssemblyReference.cache
StructuralDesignPatterns/obj/Debug/StructuralDesignPatterns.exe
StructuralDesignPatterns/obj/Debug/StructuralDesignPatterns.pdb
StructuralDesignPatterns/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
StructuralDesignPatterns/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
StructuralDesignPatterns/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
HomeWork/obj/Debug/HomeWork.csprojResolveAssemblyReference.cache
BehavioralDesignPatterns/bin/Debug/BehavioralDesignPatterns.vshost.exe
BehavioralDesignPatterns/bin/Debug/BehavioralDesignPatterns.vshost.exe.config
BehavioralDesignPatterns/bin/Debug/BehavioralDesignPatterns.vshost.exe.manifest
HomeWork/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
StructuralDesignPatterns/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
StructuralDesignPatterns/bin/Debug/StructuralDesignPatterns.vshost.exe
StructuralDesignPatterns/bin/Debug/StructuralDesignPatterns.vshost.exe.config
